streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
chromadb
sentence-transformers
pypdf
python-dotenv
fastapi
uvicorn
tiktoken
Pillow>=10.0.0
SpeechRecognition>=3.8.1
streamlit-mic-recorder>=1.0.0
pydub>=0.25.1